* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background: #3665af;
    padding: 0.5rem 0;
}

.logo {
    float: left;
    color: #ffffff;
}

.logo h2 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
}

form.form-login {
    float: right;
} 

.form-login .form-element {
    display: inline-block;
    margin-right: 1rem;
}

.form-element p {
    color:#ffffff;
    font-size: 0.8rem;
}

.form-element input[type=text],
.form-element input[type=password] {
    margin-top: 0.25rem;
    padding:0.2rem 0.33rem;
}

.form-element input[type=submit] {
    cursor: pointer;
    border: 0;
    border: 2px solid #215ab2;
    background: #1969e5;
    color: #ffffff;
    padding:0.25rem 0.33rem;
    text-decoration: bold;
}

.form-element input[type=submit]:hover {
    background: #215ab2;
}

.forgotten-password a {
    text-decoration: none;
    color: #5599ff;
    font-size: 0.8rem;
    display: block;
    text-align: center;
    padding-left: 2.85rem;
}

section.main {
    background: linear-gradient(#ffffff, #d3d8e8);
    padding: 2.5rem;
}

.section-left {
    font-size: 1.6rem;
    float: left;
    width: 50%;
}

.img-people {
    width: 100%;
    height: 15rem;
    background: #FFFFFF;
}

.sign-up {
    float: right;
    width:50%;
    padding-left: 4rem;
}

.sign-up h1 {
    font-size: 2.5rem;
}

.sign-up h6 {
    font-size: 1rem;
}

form.sign-up-form {
    margin-top: 1.2rem;
    float: right;
}

form.sign-up-form input[type="text"],
form.sign-up-form input[type="email"],
form.sign-up-form input[type="password"] {
    width: 100%;
    height: 2.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    padding-left: 0.2rem;
    margin-bottom: 0.5rem;
}

.w50 {
    width: 50%;
    float: left;
}
.w50:first-child {
    padding-right: 0.55rem;
}
.w50:last-child {
    padding-left: 0.55rem;
}

.w100 {
    width: 100%;
    float: left;
}

.w100-group {
    width: 100%;
    margin-top: 1.5rem;
    display: inline-block;
    text-align: left;
}

/* .w100-group label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    float: left;
} */
.w100-group input {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

form.sign-up-form input[type=submit] {
    width:100%;
    height: 4rem;
    background: linear-gradient(#67ae55, #578843);
    color: #ffffff;
    text-decoration: bold;
    font-size: 1.5rem;
    border: 0;
    border-radius: 0.3rem;
    max-width: 15rem;
}






